<?xml version="1.0" encoding="UTF-8"?> 
<!--
    * 支持多平台，多协议，多电气接口，多种设备，多个自定义模型
    ***************************************************************************
    * address,index,count用十六进制表示，例如1A
    * id可以用字符串表示
    * life单位为天
-->
<root>
    <!--项目基本信息-->
    <building id="MH310103BA0001" name="海丽大厦" type="公共建筑" area="20000"></building> 
    <!--平台集合-->  
    <platform>
        <item id="SH" template="./platform/SH.xml" user="user" password="password" aes="ABCDEF1234567890"></item> 
    </platform>
    <model>
        <item id="STANDARD" template="./model/STANDARD.xml" property_id="EP_total"></item>               
    </model>    
    <upload>
        <item platform_id="SH" model_id="STANDARD" life="7"></item>
    </upload>
    
    <!--协议集合,period单位为秒（s）-->  
    <protocol>
        <item id="1" method="rtu" period="3" alias="能耗采集周期"></item> 
    </protocol>
    <!--电气接口集合-->  
    <transport>
        <item id="1" port="/dev/ttyUSB0" para="9600,8N1" timeout="350" alias="待定"></item>
        <item id="2" port="/dev/ttyUSB1" para="9600,8N1" timeout="350" alias="待定"></item>
    </transport>
    <!--设备集合-->  
    <rule>
        <item id="1" template="./device/Bluemoon_rh_t.xml" index="0" count="2" range="1,2"></item>                  
    </rule>
    <!--采样集合-->
    <sample>
        <item id="1" protocol_id="1" transport_id="1" rule_id="1"></item>   
    </sample>
    <device>
        <item id="1" name="办公室温湿度计" sample_id="1" address="1"></item> 
    </device>    
    <!--上下限设置-->
    <threshold>
        <item id="1" alias="温度舒适阈" property_id="" low="" high="" min="" max=""></item>                  
    </threshold>
    <alarm>
        <item threshold_id="1" device_id="1"></item>
    </alarm>
    <email>
        <item address="ouyangjiaohui@gmail.com"></item>
        <item address="yangjiaohui@pkpm.com.cn"></item>
    </email> 
</root>